@font-face {
  font-family: 'Jetbrains Mono';
  font-weight: 400;
  src: url(../fonts/jetbrains/JetBrainsMono-Regular.woff2) format('woff2');
}

body {
  font-family: 'Jetbrains Mono';
}

.main-container {
  margin-top: 2rem;
}